    p, .useDIN { 
        font-family: DIN Alternate, Helvetica; 
    }
    .useMONO { 
        font-family: Andale Mono, Lucida Console, monospace; 
    }
    table, tr, th, td {
        border: 1px solid white;
    }
    tr, th {
        font-size: 8px;
    }

    /* Pages with tables can use the extra space */
    .tablepage {
        max-width: 1024px;
    }

    .item {
        width: 20px;
        height: auto;
    }

    .cicon {
        width: 32px;
        height: auto;
    }

    .iconq {
        background-color: green;
        padding: 4px;
        display: inline-block;
        border: 1px solid #AAFFAA;
        border-radius: 2px;
    }

    .icona {
        background-color: blue;
        padding: 4px;
        display: inline-block;
        border: 1px solid #AAAAFF;
        border-radius: 2px;
    }

    .iconb {
        background-color: red;
        padding: 4px;
        display: inline-block;
        border: 1px solid #FFAAAA;
        border-radius: 2px;
    }

    .iconx {
        background-color: gray;
        padding: 4px;
        display: inline-block;
        border: 1px solid #CCCCCC;
        border-radius: 2px;
    }

    .servantsmall {
        width: 32px;
        height: auto;
    }

    .servantmed {
        width: 64px;
        height: auto;
    }

    .banner {
        width: 400px;
    }

    .h-master {
        color: #CCCCCC;
        background-color: #222222;
        border-width: 4px; 
        border-color: #CCCCCC; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }

    .h-fuyuki {
        color: #FFCC00;
        background-color: #882200;
        border-width: 4px; 
        border-color: #FFCC00; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-orleans {
        color: #AAFFCC;
        background-color: #338844;
        border-width: 4px; 
        border-color: #AAFFCC; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-septem {
        color: #FFFFCC;
        background-color: #AA6600;
        border-width: 4px; 
        border-color: #FFFFCC; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-okeanos {
        color: #CCEEFF;
        background-color: #2222CC;
        border-width: 4px; 
        border-color: #CCEEFF; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-london {
        color: #FFDDBB;
        background-color: #884488;
        border-width: 4px; 
        border-color: #FFDDBB; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-epu {
        color: #FFDD66;
        background-color: #775522;
        border-width: 4px; 
        border-color: #FFDD66; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-camelot {
        color: #CCCCCC;
        background-color: #CC2222;
        border-width: 4px; 
        border-color: #CCCCCC; 
        border-style: none none none solid; 
        padding-left: 4px; 
    }
    .h-daily-knight1 {
        color: #AAFFCC;
        background-color: #338844;
        border-width: 3px; 
        border-color: #AAFFCC; 
        border-style: none solid none solid; 
        padding-left: 4px; 
        border-radius: 2px;
    }
    .h-daily-cavalry1 {
        color: #CCEEBB;
        background-color: #447744;
        border-width: 3px; 
        border-color: #CCEEBB; 
        border-style: none solid none solid; 
        padding-left: 4px; 
        border-radius: 2px;
    }
    .h-hunting {
        color: #FFEE55;
        background-color: #2277BB;
        border-width: 4px; 
        border-color: #FFEE55; 
        border-style: none dashed none dashed; 
        padding-left: 4px; 
    }
    .h-halloween {
        color: #FFCCAA;
        background-color: #CC6633;
        border-width: 4px; 
        border-color: #FFCCAA; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-gudaguda {
        color: #FFAAAA;
        background-color: #CC3333;
        border-width: 4px; 
        border-color: #FFAAAA; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-christmas {
        color: #44FFEE;
        background-color: #11AACC;
        border-width: 4px; 
        border-color: #44FFEE; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-saberwars {
        color: #FFEEDD;
        background-color: #CCBB88;
        border-width: 4px; 
        border-color: #FFEEDD; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-valentines {
        color: #FFDDDD;
        background-color: #884411;
        border-width: 4px; 
        border-color: #FFDDDD; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-karanokyoukai {
        color: #AADDFF;
        background-color: #000044;
        border-width: 4px; 
        border-color: #AADDFF; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-davinci {
        color: #FFDD88;
        background-color: #AA8844;
        border-width: 4px; 
        border-color: #FFDD88; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-accelzero {
        color: #FF2222;
        background-color: #000044;
        border-width: 4px; 
        border-color: #FF2222; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-rashomon {
        color: #FF11EE;
        background-color: #550044;
        border-width: 4px; 
        border-color: #FF11EE; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-west {
        color: #88BBFF;
        background-color: #FFFF44;
        border-width: 4px; 
        border-color: #88BBFF; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-onigashima {
        color: #FFDD88;
        background-color: #225588;
        border-width: 4px; 
        border-color: #FFDD88; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-summer {
        color: #55BBEE;
        background-color: #EEDDBB;
        border-width: 4px; 
        border-color: #55BBEE; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-prisma {
        color: #FFEEDD;
        background-color: #FFAA99;
        border-width: 4px; 
        border-color: #FFEEDD; 
        border-style: none double none double; 
        padding-left: 4px; 
    }
    .h-nerofest {
        color: #FFDD88;
        background-color: #CC2222;
        border-width: 4px; 
        border-color: #FFDD88; 
        border-style: none double none double; 
        padding-left: 4px; 
    }